<% if (typeof validationErrors !== "undefined") { %>
  <ul class="error">
    <% for (let field in validationErrors) { %>
      <li> <%= validationErrors[field].message %> </li>
    <% } %>
  </ul>
<% } %>

<div class="form-container">
  <form class="form" method="post" action="/user/<%= currentUser._id %>">
    <label for="full-name-input">Full Name</label>
    <input id="full-name-input" type="text" placeholder="Regina Phalange" name="signupFullName" value="<%=currentUser.fullName%>">
    <br>
    <label for="image-input">Picture</label>
    <input id="image-input" type="text" placeholder="sexypic.jpg" name="userImageUrl" value="<%=currentUser.imageUrl%>">
    <br>
    <label for="profession-input">Profession</label>
    <input id="profession-input" type="text" placeholder="Dreamboat" name="userProfession" value="<%=currentUser.profession%>">
    <p class="days">Days Off</p>
    <ul class="days">
      <li>
        <label for="mon">M</label>
      	<input type="checkbox" id="mon" name="userMon" value="<%=currentUser.mon%>">
      </li>
      <li>
        <label for="tue">T</label>
      	<input type="checkbox" id="tue" name="userTue" value="<%=currentUser.tue%>">
      </li>
      <li>
        <label for="wed">W</label>
      	<input type="checkbox" id="wed" name="userWed" value="<%=currentUser.wed%>">
      </li>
      <li>
        <label for="thur">R</label>
      	<input type="checkbox" id="thur" name="userThur" value="<%=currentUser.thur%>">
      </li>
      <li>
        <label for="fri">F</label>
      	<input type="checkbox" id="fri" name="userFri" value="<%=currentUser.fri%>">
      </li>
      <li>
        <label for="sat">S</label>
      	<input type="checkbox" id="sat" name="userSat" value="<%=currentUser.sat%>">
      </li>
      <li>
        <label for="sun">U</label>
      	<input type="checkbox" id="sun" name="userSun" value="<%=currentUser.sun%>">
      </li>
    </ul>
    <label for="bio-input">Bio</label><p>
    <textarea id="bio-input" placeholder="I'm super cool and sexy." name="userBio"><%= currentUser.bio%></textarea>
    <p>
    <button>Save</button>
  </form>
</div>
