<h2>Edit Profile</h2>

<% if (typeof validationErrors !== "undefined") { %>
  <ul class="error">
    <% for (let field in validationErrors) { %>
      <li> <%= validationErrors[field].message %> </li>
    <% } %>
  </ul>
<% } %>

<form method="post" action="/user/<%= currentUser._id %>">
  <label for="full-name-input">Full Name</label>
  <input id="full-name-input" type="text" placeholder="Regina Phalange" name="signupFullName" value="<%=currentUser.fullName%>">
  <br>
  <label for="email-input">Email</label>
  <input id="email-input" type="email" placeholder="regina.phalange@gmail.com" name="signupEmail" value="<%=
  currentUser.email%>">
  <br>
  <p>Days Off</p>
  <ul>
                <li>
                	<input type="checkbox" id="mon"/>
	                <label for="mon">MON</label>
                </li>
                <li>
                	<input type="checkbox" id="tue"/>
	                <label for="tue">TUE</label>
                </li>
                <li>
                	<input type="checkbox" id="wed"/>
	                <label for="wed">WED</label>
                </li>
                <li>
                	<input type="checkbox" id="thur"/>
	                <label for="thur">THUR</label>
                </li>
                <li>
                	<input type="checkbox" id="fri"/>
	                <label for="fri">FRI</label>
                </li>
                <li>
                	<input type="checkbox" id="sat"/>
	                <label for="sat">SAT</label>
                </li>
                <li>
                	<input type="checkbox" id="sun"/>
	                <label for="sun">SUN</label>
                </li>
              </ul>
  <br>
  <label for="bio-input">Bio</label>
  <textarea id="bio-input" placeholder="I'm super cool and sexy." name="userBio"><%= currentUser.bio%></textarea>
  <p>
  <button>Save</button>
</form>
