<% if (typeof validationErrors !== "undefined") { %>
  <ul class="error">
    <% for (let field in validationErrors) { %>
      <li> <%= validationErrors[field].message %> </li>
    <% } %>
  </ul>
<% } %>
<div class="profile-container">
  <div class="profile-img">
    <img src="<%= currentUser.imageUrl %>">
  </div>
  <div class="profile-info">
    <h2> <%= currentUser.fullName %></h2>
    <h3>Profession</h3>
    <p> <%= currentUser.profession %></p>
    <h3>Free Time</h3>
    <p> <%= currentUser.schedule %></p>
    <h3>Bio</h3>
    <p><%= currentUser.bio %></p>
  </div>
</div>
<div class="edit-button">
  <a class="edit-profile button edit-button" href="/user/<%= currentUser._id %>">Edit Profile</a>
</div>
